@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #FFFFFF;
  --accent: #F3F821;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.heading {
  font-weight: bold;
  letter-spacing: -0.025em;
}

.input-base {
  transition-property: color;
  transition-duration: 200ms;
}
/* stylelint-disable at-rule-no-unknown */
@theme {
  --color-background: #0F0F0F;
  --color-foreground: #FFFFFF;
  --color-accent: #F3F821;
}
