@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #FFFFFF;
  --accent: #F3F821;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.heading {
  font-weight: bold;
  letter-spacing: -0.025em;
}

.input-base {
  transition-property: color;
  transition-duration: 200ms;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* stylelint-disable at-rule-no-unknown */
@theme {
  --color-background: #0F0F0F;
  --color-foreground: #FFFFFF;
  --color-accent: #F3F821;
}
